@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=League+Spartan:wght@500;600;700&family=Manrope:wght@800&family=Source+Sans+Pro:wght@300;400&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.title {
  font-size: 5rem;
  color: white;
  font-weight: 800;
}

.text-primary {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 50px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/background.jpg") no-repeat fixed center/cover;
  height: 100vh;
  width: 100%;
}

.main-header {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 50px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #090909;
}

.main-header a:visited {
  color: inherit;
}

.main-header a {
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  margin-right: 25px;
  color: white;
}

.main-header a:hover {
  color: #883484;
  transition: 0.5s;
}

.header-left {
  font-size: 1.8rem;
  font-weight: 800;
}

.header-left:hover {
  color: #883484;
  transition: 0.5s;
  cursor: default;
}

.header-content {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-btn {
  padding: 1rem 6rem;
  margin-top: 75px;
  border: none;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #441b42;
  color: white;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #883484;
  transition: 0.5s;
}

.section {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h3 {
  color: #883484;
}

.section h2 {
  font-size: 40px;
}

.both-about {
  display: flex;
  flex-direction: row;
}

.about-right {
  margin-left: 200px;
  max-width: 400px;
}

.about-left {
  margin-right: 200px;
  max-width: 600px;
  font-size: 19px;
}

.about-left p {
  color: #717784;
}

.section h4 {
  font-size: 35px;
}

.about-right span {
  display: inline-block;
  color: #717784;
  background-color: #e7e7e7;
  margin: 10px;
  letter-spacing: 1px;
  padding: 3px;
  border-radius: 2px;
  font-size: 1.1rem;
}

.projects {
  background: linear-gradient(to top, #ffffff 0%, #bcbcbc 100%);
}

.desc {
  color: black !important;
}

.project {
  display: flex;
  align-items: center;
}

.project h3 {
  font-size: 25px;
  color: black;
  font-weight: 800;
  font-size: 2rem;
}

.project img {
  margin-right: 50px;
  border-radius: 10px;
  margin-top: 100px;
}

.project-info {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.project p {
  font-size: 1.1rem;
}

.project button {
  padding: 1rem 6rem;
  width: 400px;
  margin-top: 30px;
  border: none;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #441b42;
  color: white;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
}

.project button:hover {
  background-color: #883484;
  transition: 0.5s;
}

.project a:visited {
  color: inherit;
}

.project a {
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  margin-right: 25px;
  color: white;
}

.project a:hover {
  color: #883484;
  transition: 0.5s;
}

.contact {
  background-color: #090909;
  color: #4a4c4d;
}

.contact h2 {
  color: white;
}

.contact p {
  color: white;
}

.contact input {
  background-color: rgb(12, 12, 12);
  border: none;
  width: 400px;
  height: 25px;
  color: white;
}

.project-info p {
  max-width: 300px;
}

.contact button {
  padding: 1rem 6rem;
  margin-top: 30px;
  border: none;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #441b42;
  color: white;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 50px;
}

.contact button:hover {
  background-color: #883484;
  transition: 0.5s;
}

.message-input {
  height: 50px !important;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: black;
  display: flex;
  color: white;
  min-height: 100px;
  align-items: center;
  padding: 0px 50px;
  justify-content: space-between;
}

footer a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

footer a:hover {
  color: #883484;

  transition: 0.5s;
}

@media only screen and (max-width: 1024px) {
  .header-left {
    display: none;
  }

  .main-header {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px 0px 10px 10px;
    text-transform: none;
    font-size: 14px;
  }

  .title {
    text-align: center;
    font-size: 3rem;
  }
  .text-primary {
    text-align: center;
  }

  .both-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-left {
    margin: 0;
  }
  .about-right {
    margin: 0;
  }

  .projects {
    background: white;
  }

  .project {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
  }

  .project img {
    max-width: 100vw;
    margin: 0 auto;
  }

  .margin-fix {
    margin: 0 !important;
  }

  .project-info {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100vw;
  }

  .container {
    max-width: 100vw;
  }

  input {
    max-width: 80vw;
  }

  .desc {
    text-align: center;
  }
  footer {
    font-size: 10px;
    display: flex;

    align-items: center;

    justify-content: space-between;
  }

  .project-info a {
    margin: 0;
  }

  .project img {
    margin-top: 0;
  }
}
